.signature {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.signature img {
    max-height: 70px;
    margin-right: 10px;
}

.signature a {
    color: #0366d6;
}

li {
    color: white !important;
    width: 92px;
    height: 75px;
}

.iconstyle {
    font-size: 32px !important;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.106);
    cursor: pointer;
}
.content svg{
    color: black!important;
    height: 40px;
    width: 40px;
    border: 3px solid grey;
    border-radius: 30px;
}